.seasons {
    width: 1180px;
    display: block;
    background-color: pink;
    border-radius: 12px;
    text-align: center;
    margin: 0 10px;
    padding: 2px 0;
}

/* .seasonsItem {
    width: 240px;
    height: 8vh;
    margin: 10px;
    background-color: rgb(217, 11, 45);
    border-radius: 8px;
} */

.seasonsItem ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
}

.seasonsItem ul li {
    margin: 3px;
}

@media only screen and (max-width: 1200px) {
    .seasons {
        max-width: 992px;
    }
    /* .seasonsItem {

    }
    .seasonsItem ul {

    }
    .seasonsItem ul li {

    } */
}

@media only screen and (max-width: 991px) {
    .seasons {
        max-width: 767px;
    }
}
@media only screen and (max-width: 767px) {
    .seasons {
        max-width: 480px;
    }
}
@media only screen and (max-width: 479px) {
    .seasons {
        max-width: 320px;
        font-size: 10px;
    }
}
