.europeanChampionship, .europeanChampionshipLink, .europeanChampionshipStat {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    -webkit-box-shadow: -5px -5px 20px -9px rgba(53, 85, 109, 0.6);
    -moz-box-shadow: -5px -5px 20px -9px rgba(53, 85, 109, 0.6);
    box-shadow: -5px -5px 20px -9px rgba(53, 85, 109, 0.6);
}

.europeanChampionship {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    margin: 0 0 0 10px;
    width: 350px;
    height: 38vh;
}

.europeanChampionship img {
    padding: 0 30px;
    height: 130.12px;
}

.europeanChampionshipTitle {
    display: block;
    width: 330px;
    height: 30px;
    text-align: center;
}

.europeanChampionshipLink, .europeanChampionshipStat {
    display: block;
    width: 150px;
    height: 30px;
    margin: 10px;
    text-align: center;
    background-color: rgb(255, 251, 31);
    color: #000;
}

.europeanChampionshipStat {
    width: 300px;
}

.europeanChampionship a {
    text-decoration: none;
    color: #000;
}

@media only screen and (max-width: 1200px) {
    .europeanChampionship {
        max-width: 280px;
    }
    .europeanChampionship img {
        height: 90px;
    }
    .europeanChampionshipTitle {
        max-width: 260px;
        font-size: 14px;
        margin-top: 5px;
    }
    .europeanChampionshipLink, .europeanChampionshipStat {
        width: 150px;
        padding: 10px;
        font-size: 16px;

    }
}

@media only screen and (max-width: 991px) {
    .europeanChampionship {
        max-height: 280px;
    }
    .europeanChampionship img {
        height: 80px;
    }
    .europeanChampionshipTitle {
        max-width: 260px;
        font-size: 14px;
        margin-top: 5px;
    }
    .europeanChampionshipLink, .europeanChampionshipStat {
        width: 130px;
        padding: 3px;
        font-size: 14px;
    }
}
@media only screen and (max-width: 767px) {
    .europeanChampionship {
        margin: 0;
    }
}
@media only screen and (max-width: 479px) {
    .europeanChampionship {
        margin: 0;
    }
}
