.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 1200px;
    height: 8vh;
    margin: 1vh 0;
    background-color: #a2bff8;
    border-radius: 12px;
    text-align: center;
    padding: auto;
}

