tbody tr:nth-child(odd) {
    background-color: #a1a1a1;
  }
  
tbody tr:nth-child(even) {
    background-color: #c8c8c8;
  }
  
tbody tr {
    background-color: rgb(174, 174, 174);
  }
  
table {
    width: 1140px;
    margin: 0 auto;
    background-color: #d2d2d274;
    border-radius: 10px;
  }

.count {
    margin: 5px;
    text-align: center;
}
.badge {
  padding-left: 10px;
}


@media only screen and (max-width: 1200px) {
  table, .count {
      max-width: 992px;
  }
}

@media only screen and (max-width: 991px) {
  table, .count {
      max-width: 767px;
  }
}
@media only screen and (max-width: 767px) {
  table, .count {
      max-width: 480px;
  }
}
@media only screen and (max-width: 479px) {
  table, .count {
      max-width: 320px;
      font-size: 12px;
  }
}